body {
    background: black;
    color: #00ffcc;
    font-family: monospace;
}

.terminal {
    width: 60%;
    margin: auto;
    margin-top: 50px;
    border: 1px solid #00ffcc;
    padding: 20px;
    box-shadow: 0 0 20px #00ffcc;
}

input {
    width: 70%;
    background: black;
    color: #00ffcc;
    border: 1px solid #00ffcc;
}

button {
    background: black;
    color: #00ffcc;
    border: 1px solid #00ffcc;
}