body {
    font-family: Arial;
    background: #0f172a;
    color: white;
}

h1 {
    text-align: center;
}

.chat-container {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    max-height: 70vh;
    overflow-y: auto;
}

.message {
    padding: 12px;
    margin: 10px;
    border-radius: 10px;
    max-width: 70%;
}

.user {
    background: #2563eb;
    margin-left: auto;
}

.bot {
    background: #1e293b;
}

.input-box {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

input {
    width: 50%;
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}